<div class="spacer-sm"></div>
<div class="spacer-sm"></div>
<div class="section">
    <div class="container">
        <h2 class="text-center">Login to Atropos</h2>

        <form name="register" class="form" ng-submit="vm.onSubmit()" method="post">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Username</label>
                    <input ng-model="vm.credentials.username">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-model="vm.credentials.email" type="email">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <input ng-model="vm.credentials.password" type="password">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Confirm Password</label>
                    <input ng-model="vm.credentials.confirm" type="password">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-button type="submit" class="md-primary md-raised">Register</md-button>
            </div>
        </form>
    </div>
</div>
<div class="section section-grey">
</div>