<div class="spacer-sm"></div>
<div class="spacer-sm"></div>
<div class="section section-grey">
    <div class="container text-center">
        <div layout="row" layout-align="center center">
            <div flex="50">
                <md-content>
                    <md-toolbar>
                        <div class="md-toolbar-tools">Control Panel</div>
                    </md-toolbar>
                    <md-card md-theme="default" md-theme-watch class="text-left transparent">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{ user.username }}</span>
                                <span class="md-subhead">{{ user.email }}</span>
                                <span class="md-subhead">{{ premium }}</span>
                                <span class="md-subhead" ng-if="user.admin">Administrator</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img ng-src="https://mc-heads.net/avatar/{{ user.username }}">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-if="!user.premium" href="#/purchase" class="md-primary md-raised">Purchase Atropos</md-button>
                            <md-menu>
                                <md-button aria-label="Open settings interactions menu" ng-click="openMenu($mdOpenMenu, $event)">
                                    Options
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="showSettings()">
                                            <md-icon class="material-icons">settings</md-icon>
                                            Settings
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="showPassword()">
                                            <md-icon class="material-icons">lock</md-icon>
                                            Change Password
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="user.premium">
                                        <md-button ng-click="showFeedback()">
                                            <md-icon class="material-icons">comment</md-icon>
                                            Send Feedback
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="user.premium">
                                        <md-button ng-click="showFeedback()">
                                            <md-icon class="material-icons">get_app</md-icon>
                                            Download Atropos
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <md-button ng-click="logout()">Log Out</md-button>
                        </md-card-actions>
                    </md-card>
                </md-content>
            </div>
        </div>

        <hr flex="50">

        <div ng-if="user.admin" class="feedback text-left" layout="row" layout-align="center center">
            <div flex="50">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        User Feedback
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="refresh()">
                            <md-icon class="material-icon">refresh</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-content style="height: 600px;">

                    <section>
                        <md-subheader class="md-warn">High Priority</md-subheader>
                        <md-list flex>
                            <md-list-item class="md-3-line" ng-repeat="post in (feedbackList | orderBy:date:false)" ng-if="post.priority == 1" ng-click="delete(post._id)">
                                <img ng-src="https://mc-heads.net/avatar/{{ post.author }}" class="md-avatar">
                                <div class="md-list-item-text">
                                    <h3>{{post.author}}</h3>
                                    <h4>{{post.title}}</h4>
                                    <p>
                                        {{post.content}}
                                    </p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </section>

                    <section>
                        <md-subheader class="md-primary">Medium Priority</md-subheader>
                        <md-list flex>
                            <md-list-item class="md-3-line" ng-repeat="post in (feedbackList | orderBy:date:false)" ng-if="post.priority == 2" ng-click="delete(post._id)">
                                <img ng-src="https://mc-heads.net/avatar/{{ post.author }}" class="md-avatar">
                                <div class="md-list-item-text">
                                    <h3>{{post.author}}</h3>
                                    <h4>{{post.title}}</h4>
                                    <p>
                                        {{post.content}}
                                    </p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </section>

                    <section>
                        <md-subheader>Low Priority</md-subheader>
                        <md-list flex>
                            <md-list-item class="md-3-line" ng-repeat="post in (feedbackList | orderBy:date:false)" ng-if="post.priority == 3" ng-click="delete(post._id)">
                                <img ng-src="https://mc-heads.net/avatar/{{ post.author }}" class="md-avatar">
                                <div class="md-list-item-text">
                                    <h3>{{post.author}}</h3>
                                    <h4>{{post.title}}</h4>
                                    <p>
                                        {{post.content}}
                                    </p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </section>

                </md-content>
            </div>
        </div>
    </div>
</div>