<div class="spacer-sm"></div>
<div class="spacer-sm"></div>
<div class="section section-grey">
    <div class="container text-center">
        <div layout="row" layout-align="center center">
            <md-card md-theme="default" md-theme-watch flex="50" class="text-left">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-class="{'admin': user.admin}">{{ user.username }}</span>
                        <span class="md-subhead">{{ user.email }}</span>
                        <span class="md-subhead">{{ premium }}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media">
                            <img src="https://mc-heads.net/avatar/{{ user.username }}">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-if="!user.premium" href="#/purchase" class="md-primary md-raised">Purchase Atropos
                    </md-button>
                    <md-button ng-click="showBottomSheet()">Settings</md-button>
                    <md-button ng-click="logout()">Log Out</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <div ng-if="user.admin" class="feedback">
            <h3 class="text-center">User Feedback</h3>
            <hr flex="50">

            <div layout="row" layout-align="center center" ng-repeat="post in (feedbackList | orderBy: post.date:true)" ng-if="user.admin" ng-animate="'animate'">
                <md-card md-theme="default" md-theme-watch flex="50" class="text-left">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{ post.title }}</span>
                            <span class="md-subhead">{{ post.author }}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-md card-media">
                                <img src="https://mc-heads.net/avatar/{{ post.author }}">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content>
                        {{ post.content }}
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">

                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>