/* line 1, ../compass/sass/components/_navbar.scss */
.bar, .bar-name {
  z-index: 25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 3, ../compass/sass/components/_navbar.scss */
.bar.bar-solid-add, .bar.bar-solid-remove, .bar-name.bar-solid-add, .bar-name.bar-solid-remove {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  position: fixed;
}
/* line 13, ../compass/sass/components/_navbar.scss */
.bar a.title, .bar-name a.title {
  position: fixed;
  left: 0;
  font-size: 30px;
  line-height: 80px;
  margin-left: 120px;
}
/* line 20, ../compass/sass/components/_navbar.scss */
.bar a.title:before, .bar-name a.title:before {
  bottom: 20px;
}
/* line 25, ../compass/sass/components/_navbar.scss */
.bar a, .bar-name a {
  position: relative;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  color: white;
  text-decoration: none;
}
/* line 33, ../compass/sass/components/_navbar.scss */
.bar a:hover, .bar-name a:hover {
  color: white;
}
/* line 37, ../compass/sass/components/_navbar.scss */
.bar a:before, .bar-name a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
/* line 52, ../compass/sass/components/_navbar.scss */
.bar a:hover:before, .bar-name a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 58, ../compass/sass/components/_navbar.scss */
.bar .nav-active, .bar-name .nav-active {
  color: #18A3FA !important;
  transition: 0.3s color;
}
/* line 62, ../compass/sass/components/_navbar.scss */
.bar .nav-active:before, .bar-name .nav-active:before {
  background-color: #18A3FA !important;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* line 69, ../compass/sass/components/_navbar.scss */
.bar .nav-active:hover, .bar-name .nav-active:hover {
  color: #0588da !important;
}
/* line 72, ../compass/sass/components/_navbar.scss */
.bar .nav-active:hover:before, .bar-name .nav-active:hover:before {
  background-color: #0588da !important;
}

/* line 79, ../compass/sass/components/_navbar.scss */
.bar-name, .bar-solid-remove.bar-solid-remove-active {
  height: 80px;
  z-index: 25;
}
/* line 80, ../compass/sass/components/_navbar.scss */
.bar-name.bar-solid, .bar-name .bar-solid-add.bar-solid-add-active, .bar-solid-remove.bar-solid-remove-active.bar-solid, .bar-solid-remove.bar-solid-remove-active .bar-solid-add.bar-solid-add-active {
  background-color: #18A3FA;
}

/* line 88, ../compass/sass/components/_navbar.scss */
.bar, .bar-solid-remove.bar-solid-remove-active {
  height: 90px;
  left: 534px;
  z-index: 25;
}
/* line 89, ../compass/sass/components/_navbar.scss */
.bar.bar-solid, .bar .bar-solid-add.bar-solid-add-active, .bar-solid-remove.bar-solid-remove-active.bar-solid, .bar-solid-remove.bar-solid-remove-active .bar-solid-add.bar-solid-add-active {
  background-color: #3E438F;
}
/* line 92, ../compass/sass/components/_navbar.scss */
.bar.bar-solid #triangle-topleft, .bar .bar-solid-add.bar-solid-add-active #triangle-topleft, .bar-solid-remove.bar-solid-remove-active.bar-solid #triangle-topleft, .bar-solid-remove.bar-solid-remove-active .bar-solid-add.bar-solid-add-active #triangle-topleft {
  border-bottom-color: #3E438F;
}
/* line 101, ../compass/sass/components/_navbar.scss */
.bar .nav-link, .bar-solid-remove.bar-solid-remove-active .nav-link {
  line-height: 90px;
  color: white;
  font-family: 'Oxygen', sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}
/* line 110, ../compass/sass/components/_navbar.scss */
.bar #triangle-topleft, .bar-solid-remove.bar-solid-remove-active #triangle-topleft {
  position: fixed;
  top: 0;
  left: 444px;
  z-index: 25;
  width: 0;
  height: 0;
  border-bottom: 90px solid transparent;
  border-left: 90px solid transparent;
  transition: border-bottom-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

/* line 5, ../compass/sass/styles.scss */
body {
  background-color: #555;
  overflow-x: hidden;
}

/* line 10, ../compass/sass/styles.scss */
.material-icons.md-18 {
  font-size: 18px;
}

/* line 11, ../compass/sass/styles.scss */
.material-icons.md-24 {
  font-size: 24px;
}

/* line 12, ../compass/sass/styles.scss */
.material-icons.md-36 {
  font-size: 36px;
}

/* line 13, ../compass/sass/styles.scss */
.material-icons.md-48 {
  font-size: 48px;
}

/* line 15, ../compass/sass/styles.scss */
.bottomSheet .md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle;
}

/* line 23, ../compass/sass/styles.scss */
.bottomSheet .md-grid-item-content {
  height: 90px;
  padding-top: 10px;
}

/* line 27, ../compass/sass/styles.scss */
.bottomSheet .md-grid-item-content md-icon {
  height: 48px;
  width: 48px;
}

/* line 31, ../compass/sass/styles.scss */
.bottomSheet .md-grid-text {
  padding-bottom: 5px;
}

/* line 34, ../compass/sass/styles.scss */
.bottomSheet md-list-item, .bottomSheet md-list-item .md-list-item-inner {
  min-height: 48px;
}

/* line 37, ../compass/sass/styles.scss */
.bottomSheet h2 {
  line-height: 36px;
  padding-top: 10px;
}

/* line 41, ../compass/sass/styles.scss */
.bottomSheet .md-subheader .md-subheader-inner {
  padding: 0;
}

/* line 44, ../compass/sass/styles.scss */
.bottomSheet md-toast .md-toast-content {
  background-color: #B14141;
}

/* line 47, ../compass/sass/styles.scss */
.bottomSheet md-toast > * {
  font-weight: bolder;
}

/* line 50, ../compass/sass/styles.scss */
md-bottom-sheet.md-grid md-list-item .md-grid-item-content {
  width: 150px;
}

/* line 54, ../compass/sass/styles.scss */
md-bottom-sheet.md-grid md-list-item .md-grid-text {
  width: 150px;
}

/* line 59, ../compass/sass/styles.scss */
.text-left {
  text-align: left !important;
}

/* line 63, ../compass/sass/styles.scss */
.text-right {
  text-align: right !important;
}

/* line 67, ../compass/sass/styles.scss */
.text-center {
  text-align: center !important;
}

/* line 71, ../compass/sass/styles.scss */
.top-wrapper {
  text-align: center;
  margin-left: 0;
  height: 100vh;
  position: relative;
  background-image: url("../images/background.jpg");
}
/* line 78, ../compass/sass/styles.scss */
.top-wrapper .top {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
}
/* line 84, ../compass/sass/styles.scss */
.top-wrapper .top h1 {
  color: white;
  font-size: 110px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 0;
}
/* line 93, ../compass/sass/styles.scss */
.top-wrapper .top p {
  color: white;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px 2px black;
}
/* line 99, ../compass/sass/styles.scss */
.top-wrapper .top p.small {
  font-size: 14px;
}
/* line 105, ../compass/sass/styles.scss */
.top-wrapper .read-more {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

/* line 112, ../compass/sass/styles.scss */
.section {
  background-color: white;
  position: relative;
  padding-bottom: 50px;
}
/* line 117, ../compass/sass/styles.scss */
.section .container {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 3em;
}
/* line 122, ../compass/sass/styles.scss */
.section .container h2 {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #333;
  font-size: 60px;
  margin-bottom: 10px;
}
/* line 130, ../compass/sass/styles.scss */
.section .container h3 {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #333;
  font-size: 24px;
  margin-top: 10px;
}
/* line 138, ../compass/sass/styles.scss */
.section .container h4 {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 147, ../compass/sass/styles.scss */
.section::before {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: white;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
  margin-top: -35px;
  top: 0;
}
/* line 165, ../compass/sass/styles.scss */
.section.section-grey {
  background-color: #555;
}
/* line 168, ../compass/sass/styles.scss */
.section.section-grey h2, .section.section-grey h3, .section.section-grey h4, .section.section-grey p {
  color: white;
}
/* line 172, ../compass/sass/styles.scss */
.section.section-grey::before {
  background-color: #555;
}

/* line 178, ../compass/sass/styles.scss */
.info-img {
  position: relative;
  display: inline-block;
  overflow: visible;
}
/* line 183, ../compass/sass/styles.scss */
.info-img.secondary {
  top: 500px;
  left: 150px;
}
/* line 188, ../compass/sass/styles.scss */
.info-img img {
  position: absolute;
  z-index: 20;
}

/* line 194, ../compass/sass/styles.scss */
.spacer-sm {
  height: 70px;
}

/* line 198, ../compass/sass/styles.scss */
.spacer-md {
  height: 200px;
}

/* line 202, ../compass/sass/styles.scss */
.spacer-lg {
  height: 500px;
}

/* line 206, ../compass/sass/styles.scss */
.feature {
  min-height: 300px;
}
/* line 209, ../compass/sass/styles.scss */
.feature .md-button {
  font-size: 16px;
}
/* line 213, ../compass/sass/styles.scss */
.feature h3 {
  margin-bottom: 0;
  text-align: center !important;
}
/* line 218, ../compass/sass/styles.scss */
.feature img {
  width: 100px;
  margin: auto;
  display: block;
}

/* line 225, ../compass/sass/styles.scss */
.bottom {
  height: 70px;
  width: 100%;
  background-color: #333;
  line-height: 70px;
  color: grey;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 0;
}
/* line 239, ../compass/sass/styles.scss */
.bottom a {
  color: grey;
  text-decoration: none;
}
/* line 243, ../compass/sass/styles.scss */
.bottom a:hover {
  color: lightgrey;
}
/* line 248, ../compass/sass/styles.scss */
.bottom ul {
  list-style-type: none;
  margin: 0;
  display: inline;
}
/* line 253, ../compass/sass/styles.scss */
.bottom ul li {
  display: inline;
  padding-left: 30px;
}
/* line 258, ../compass/sass/styles.scss */
.bottom ul.right {
  float: right;
  padding-right: 30px;
}

/* line 265, ../compass/sass/styles.scss */
.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

/* line 273, ../compass/sass/styles.scss */
.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 278, ../compass/sass/styles.scss */
.fade.ng-enter {
  opacity: 0;
}

/* line 281, ../compass/sass/styles.scss */
.fade.ng-enter-active {
  opacity: 1;
}

/* line 284, ../compass/sass/styles.scss */
.fade.ng-leave {
  opacity: 1;
}

/* line 287, ../compass/sass/styles.scss */
.fade.ng-leave-active {
  opacity: 0;
}

/* line 291, ../compass/sass/styles.scss */
.form {
  width: 500px;
  margin: auto;
}
