<md-dialog style="width: 500px;">
    <md-dialog-content class="md-dialog-content">
        <h3>Edit Your Settings</h3>
        <form name="editPassword" ng-submit="edit()">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Current Password</label>
                    <md-icon class="material-icons">lock</md-icon>
                    <input ng-model="user.currentPass" required name="currentPass" type="password">
                    <div ng-messages="editPassword.username.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your username cannot contain special characters and must be greater than 3 characters and less than 30 characters.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <md-icon class="material-icons">lock</md-icon>
                    <input ng-model="user.password" type="password" required name="password" ng-minlength="8">
                    <div ng-messages="editPassword.password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Confirm Password</label>
                    <md-icon class="material-icons">lock_outline</md-icon>
                    <input ng-model="user.confirm" type="password" required name="confirm" compare-to="user.password">
                    <div ng-messages="editPassword.confirm.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                        <div ng-message="compareTo">Passwords must match!</div>
                    </div>
                </md-input-container>
            </div>
            <md-button type="submit" class="md-primary md-raised">Submit</md-button>
        </form>
    </md-dialog-content>
</md-dialog>